@import url("assets/components/navbar.css");

.container {
    position: relative;
}


main{
    position: relative;
    border: 2px solid red;
    width: 100%;
    height: 100%;
}
.plato-1{
    max-width: 40%;
    border: 4px solid blue;
    height: ;
}

.plato-1 img{
    width: 100%;
}