@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("assets/components/navbar.css");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

.container {
    width:100%;
    max-width: 1024px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Lato, Roboto, sans-serif;
}

header {
    display: flex;
    max-width: 100%;
    height: 15vh;
    padding: 15px 0px 15px 15px;
}

.logo-header {
    height: 100%;
}

.titulos {
    height: 100%;
    width: 100%;
    padding-top: 18px;
}

h1 {
    text-align:left;
    padding-left: 5%;
    font-size: 28px;
    max-width: 100%; 
}

h2 {
    text-align:left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    color: grey;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    margin-top: 5%;
    margin-bottom: 8%;
    max-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}

.slider::-webkit-scrollbar {
    width: 0;
}

.imagenes-slider {
    height: 73%;
    border-radius: 20px;
    max-width: 90%;
}

.slider .item {
    min-width: 110px;
    height: 110px;
    background-color: white;
    margin-right: 4px;
}

.texto-slider {
    font-weight: bolder;
}

.item img {
    width: 150px;
}

.item p {
    text-align: center;
    color: rgb(12, 11, 11);
    font-size: 15px;
}

.plato-item {
    max-width: 100%;
    max-height: 15vh;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.plato-item img {
    height: 100px;
    width: 50%;
    border-radius: 20px;
}

.plato-item h4 {
    margin: 0;
    font-size: 17px;
}

.info-plato {
    width: 100%;
    margin-left: 5%;
}

.descripcion {
    font-size: 12px;
    margin-right: 5%;
}

.contador {
    display: flex;
    align-items: center;
}

.contador button {
    background-color: white;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin-top: 4%;
    border: solid 1px #e6e6e6;
}

div.platos-seleccion {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 5%;
    margin-bottom: 25%;
}

div.contador p {
    margin: 3% 3% 0 3%;
    font-size: 13px;
    font-weight: 700;
}

p.precio {
    color: #FF6B00;
    font-weight: bold;
    font-size: 15px;
}

div.info-plato {
    font-size: 20px;
}

.descripcion {
    color: grey;
    font-size: 13px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav img {
    width: 20px;
    height: 20px;
}

nav button {
    width: 100%;
    background: rgb(196, 79, 147);
    list-style-type:none;
    transform: translate(-50%, -50%);
}

nav li span .iconify {
    display: flex;
    width: 100%;
    height: 15px;
}

.content nav span.iconify {
    display: flex;  
}

/*segunda pantalla*/
/*img logo*/
.logos div {
    display:flex;
    margin: 10px;
}

.logos {    
    display:flex;
    margin-top:10px ;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
}

.logos.logo2 {
    display: flex;
}

/*footer*/
.padre {
    display: flex;
    background: rgba(228, 228, 228, 0.91);
    border: radius 24px;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%; 
}

.list ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    justify-content: space-around;
    padding:0 50px ;  
}

.total li {
    display: flex;
    flex-flow: column;
    align-content: space-between;
}

.precio-final {
    display: flex;
}

.pierna {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: #FF6B00;
    border-radius: 20px;
    align-items:center;
}

#goBack {
    width: 7%;
    cursor: pointer;
}

#menu-second-view {
    display: none;
}

.menu-second-wiew footer button {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.btn-enviar { 
}

.boton-enviar {
    font-family: Lato, Roboto, sans-serif;
    width: 150px;
    height: 40px;
    border-radius: 20%;
    border-color: black;
}

/*visible-invisible*/
.visible {
    display: block !important;
}

.invisible {
    display: none;
}