@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("assets/components/navbar.css");

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Lato, Roboto, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
}

.logo-head {
    width: 30%;
    min-height: auto;
    padding-top: 3%;
    }

.titulos {
    flex-flow: row;
    align-items: right;
} 

h1{
    text-align:left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
}

h2 {
    text-align:left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 24px;
}

main{
    position: relative;
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-flow: row;
    width: 98%;
    height: 20vh;
    position: relative;
    text-align: center;
    padding-top: 5%;
    overflow-x: hidden;       
}

.slider::-webkit-scrollbar {
    display: none;
}

.cajas-slider {
    background-color: blue;
}

.imagenes-slider {
    height: 25%;
    width: 35%;
    border-radius: 30%;
}

.contador{
    display:flex; 
}

.plato-1, .plato-2, .plato-3{
    max-width: 100%;
    /*border: 4px solid blue;*/
    max-height: 15vh;
    display: flex;
    
    margin-top: 4%;
    margin-bottom: 4%;
}

.platos-seleccion .plato-1 img,
.platos-seleccion .plato-2 img,
.platos-seleccion .plato-3 img{
    height: auto;
    width: 40%;
    border-radius: 20px;
    
}

.platos-seleccion p, .platos-seleccion h4 {
    margin: 0;
    font-size: 12px;
}

.info-plato-1, .info-plato-2, .info-plato-3{
    width: 50%;
    margin-left: 5%;
}

.contador {
    /*border: solid 4px blue;*/
    max-width: 100%;
    display: flex;
    align-items: center;
}

.contador button {
    border-style: none;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 3vh;
    margin-top: 4%;
    
}

div.platos-seleccion{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 5%;
}
    

div.contador p{
    margin: 3% 3% 0 3%;
    font-size: 13px;
    font-weight: 700;
}

p.precio{
    color: #FF6B00;
    font-weight: bold;
    font-size: 15px;
}

div.info-plato-1 h4, 
div.info-plato-2 h4, 
div.info-plato-3 h4 {
    font-size: 20px;
}

.descripcion {
    color: grey;
}
