
*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("assets/components/navbar.css");

/*
body{
    
    width:100% ;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Lato, Roboto, sans-serif;
}*/

* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row-reverse;
    justify-content: space-between;
}

header .logo-head{
    display: flex;
    align-self: flex-end;
}
header img{
    background: chocolate;
}
.logo-head {
    width: 10%;

    min-height: auto;
    padding-top: 3%;
    }

.titulos {
    display: grid;
    justify-content: space-around;
    flex-flow: row;
    align-items: right;
} 

h1{
    text-align:left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
}

h2 {
    text-align:left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 24px;
}

main{
    display: flex;
    flex-direction: column;
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main .platos-seleccion{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    justify-content: space-between;
}
.slider{
    max-height: 120px;
    border: 1px solid rgb(158, 41, 41);
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.slider::-webkit-scrollbar{
    width: 0;
}
.slider .item  {
    min-width: 110px;
    height: 110px;
    background-color: white;
    margin-right: 4px;

}
.item img{
    width: 150px;
}
.item p{
    text-align: center;
    color: tomato;
    font-size: 15px;
}


.contador{
    display:flex; 
}

.plato-item{
    max-width: 100%;
    max-height: 15vh;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.plato-item img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    
}

.plato-item h4 {
    margin: 0;
    font-size: 12px;
}

.info-plato {
    width: 50%;
    margin-left: 5%;
}

.contador {
    /*border: solid 4px blue;*/
    max-width: 100%;
    display: flex;
    align-items: center;
}

.contador button {
    border-style: none;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 3vh;
    margin-top: 4%;
    
}

div.platos-seleccion{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 5%;
}
    

div.contador p{
    margin: 3% 3% 0 3%;
    font-size: 13px;
    font-weight: 700;
}

p.precio{
    color: #FF6B00;
    font-weight: bold;
    font-size: 15px;
}

div.info-plato{
    font-size: 20px;
}

.descripcion {
    color: grey;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav img {
    width: 20px;
    height: 20px;
}
nav button{
    width: 100%;
    background: chartreuse;
    list-style-type:none;
}
nav li span .iconify{
    display: flex;
    width: 100%;
    height: 15px;
}
@media (max-width: 600px){
    header{
       grid-template-columns: repeat(1, 1fr);
    }
    .logo-head{

    height: 100%;
        
    }
    .titulos{
        font-size: 1%;
    }
   
    } 
    
    .content img{
        display: none;
        
    }
    

@media (max-width:300px){
    
    .platos-seleccion{
        display: grid;
        grid-template-columns: 1fr;
    }
    .content img{
        display: none;
        
    }
    
}

/* Aqui empieza el nav bajo anterior */

.navBajo {
    position: fixed;
    left:0;
    padding: 1% 1% 0% 1%;
    bottom: 0px;
    max-width: 90%;
    height: 8%;
}

nav button {
    background-color: #FF6B00;
    background-image: url("../img/mycart.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-box-shadow: 5px 17px 7px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 17px 7px -3px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 9px 2px rgba(0,0,0,0.6);
    position: absolute;
    right: 40%;
    bottom: 100%;
    border-radius: 50%;
    border-style: none;
    height: 8vh;
    width: 8vh;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menuIcon {
    width: 3.5vh;
}

.notifications {
    margin-right: 12vh;
}

/* Aqui termina el nav bajo anterior */