@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("assets/components/navbar.css");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.container {
    width:100% ;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Lato, Roboto, sans-serif;
}

header {
    display: flex;
    max-width: 100%;
    padding: 15px 0px 15px 15px;
}

.logo-header {
    width: 35%;
}

.titulos {
    width: 100%;
    padding-top: 18px;
}

h1{
    text-align:left;
    padding-left: 5%;
    font-size: 28px;
    max-width: 100%; 
}

h2 {
    text-align:left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    color: grey;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main .platos-seleccion{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    justify-content: space-between;
}

.slider{
    max-height: 140px;
    border: 1px solid rgb(158, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}

.slider::-webkit-scrollbar{
    width: 0;
}

.imagenes-slider {
    height: 73%;
    border-radius: 20px;
    max-width: 90%;
}

.slider .item  {
    min-width: 110px;
    height: 110px;
    background-color: white;
    margin-right: 4px;

}

.item img{
    width: 150px;
}

.item p{
    text-align: center;
    color: tomato;
    font-size: 15px;
}

.plato-item{
    max-width: 100%;
    max-height: 15vh;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.plato-item img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.plato-item h4 {
    margin: 0;
    font-size: 16px;
}

.info-plato {
    width: 100%;
    margin-left: 5%;
}

.contador {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.contador button {
    background-color: white;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin-top: 4%;  
}

div.platos-seleccion{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 5%;
}

div.contador p{
    margin: 3% 3% 0 3%;
    font-size: 13px;
    font-weight: 700;
}

p.precio{
    color: #FF6B00;
    font-weight: bold;
    font-size: 15px;
}

div.info-plato{
    font-size: 20px;
}

.descripcion {
    color: grey;
    font-size: 13px;
}
/*
@media (max-width: 600px){
    header{
       grid-template-columns: repeat(1, 1fr);
    }

    .logo-head{
    height: 100%;    
    }

    .titulos{
        font-size: 1%;
    }
   
    .content img{
        display: none;   
    }  
}

@media (max-width:300px){
    
    .platos-seleccion{
        display: grid;
        grid-template-columns: 1fr;
    }

    .content img{
        display: none;   
    }
}*/