nav {
    position: fixed;
    left:0;
    padding: 1% 1% 0% 1%;
    bottom: 0px;
    max-width: 90%;
    height: 8%;
}

nav button {
    background-color: #FF6B00;
    background-image: url("../img/mycart.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-box-shadow: 5px 17px 7px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 17px 7px -3px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 9px 2px rgba(0,0,0,0.6);
    position: absolute;
    right: 40%;
    bottom: 100%;
    border-radius: 50%;
    border-style: none;
    height: 8vh;
    width: 8vh;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menuIcon {
    width: 3.5vh;
}

.notifications {
    margin-right: 12vh;
}