@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("assets/components/navbar.css");
@import url("assets/components/header.css");
@import url("assets/components/slidermenu.css");
@import url("assets/components/seleccionPlatos.css");
@import url("assets/components/cuadroNaranjaCarrito.css");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

.container {
    width:100%;
    max-width: 1024px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Lato, Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*segunda pantalla*/
/*img logo*/
.logos div {
    display:flex;
    margin: 10px;
}

.logos {    
    display:flex;
    margin-top:10px ;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logos.logo2 {
    display: flex;
}

/*footer*/



#goBack {
    width: 7%;
    cursor: pointer;
}

#menu-second-view {
    display: none;
}

/*visible-invisible*/
.visible {
    display: block !important;
}

.invisible {
    display: none;
}

@media (min-width: 768px){
    
    div.plato-item {
        margin-left: 10vh;
    }

    p.precio {
        font-size: 18px;
    }

    .plato-item h4 {
        font-size: 20px;
    }

    .plato-item .descripcion{
        font-size: 14px; 
    }

    .plato-item img {
        height: 130px;
        min-width: 130px;
        max-width: 130px;
    }

    .contador button {
        width: 35px;
        height: 35px;
    }

    .imagenes-slider {
        width: 140px;
        height: 100px;
    }

    nav.container {
        left: unset;
    }
}

@media (min-width: 1024px) {
    .plato-item {
        max-width: 600px;
    }
   
}